[submodule "LLM"]
	path = LLM
	url = git@github.com:xiong3731/note_llm.git
[submodule "notes"]
	path = notes
	url = git@github.com:xiong3731/note_notes.git
[submodule "startdt"]
	path = startdt
	url = git@github.com:xiong3731/note_startdt.git
[submodule "Ucloud"]
	path = Ucloud
	url = git@github.com:xiong3731/note_ucloud.git
[submodule "diary"]
	path = diary
	url = git@github.com:xiong3731/note_diary.git
[submodule "project"]
	path = project
	url = git@github.com:xiong3731/note_personal_project.git
[submodule "web3"]
	path = web3
	url = git@github.com:xiong3731/note_web3.git
